header{
    padding: 15px 0px !important;
}
header .row>* {
    background-color: white;
}
header .row > .col-auto > img:last-child{
    width: 50px;
    display: none;
}
header .row .col-8 form input{
    background-color:rgb(248, 249, 250);
}
header .row .col-auto.lh-1 ul li a{
    color:gray;
    padding-left: 20px;
}
header .row .col-auto.lh-1 ul li:last-child a{
    color: orange;
}
#main-row {
    height: calc(100vh - 72px);
}
aside a{
    text-decoration: none;
    color: white;
}
aside {
   /* width: 120px; */
   min-height: calc(100vh - 70px);
}
section.main-content{
    background-color: rgb(248, 249, 250);
}
#main-row >:last-child {
   padding-left:114px;
}
main .main-content .row>* {
    border: 1px solid grey;
    background-color: rgb(229, 229, 229);
}
main .main-content .row>:first-child {
    background-color: rgb(229, 229, 229);
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
main .main-content .row>:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#left-row{
    width: 65%;
    /* background-color: lightcoral; */
}
#right-row{
    width: 35%;
    /* background-color: lightgreen; */
}
main.col-11{
    width: calc(100% - 120px);
    overflow: auto;
    margin-left: 120px
}
section img{
    width: 30px;
}

.answer1, .answer2, .answer3  {
    color: gray;
}
section.main-content #left-row .col .question1 span i{
    /* display: none !important; */
    position: absolute;
    bottom: 0;
    right: 47px;
}
section.main-content #left-row .col .question2 span i{
    /* display: none !important; */
    position: absolute;
    bottom: 3px;
    right: 47px;
}
section.main-content #left-row .col .question3 span i{
    /* display: none !important; */
    position: absolute;
    bottom: 20px;
    right: 47px;
}


section.main-content #left-row .col .question1 span i.fa-angle-up{
    display: none !important;
    
}
section.main-content #left-row .col .question2 span i.fa-angle-up{
    display: none !important;
    
}
section.main-content #left-row .col .question3 span i.fa-angle-up{
    display: none !important;
    
}


section.main-content #left-row .col>.question1:active i.fa-angle-down{
    display: none !important;
}
section.main-content #left-row .col>.question1:active i.fa-angle-up{
    display: block !important;
}
section.main-content #left-row .col>.question2:active i.fa-angle-down{
    display: none !important;
}
section.main-content #left-row .col>.question2:active i.fa-angle-up{
    display: block !important;
}
section.main-content #left-row .col>.question3:active i.fa-angle-down{
    display: none !important;
}
section.main-content #left-row .col>.question3:active i.fa-angle-up{
    display: block !important;
}

section.main-content #left-row .col>.question1:active ~ .answer1{
    display: block !important;
}
section.main-content #left-row .col>.question2:active ~ .answer2  {
    display: block !important;
}
section.main-content #left-row .col>.question3:active ~ .answer3  {
    display: block !important;
}






/* MEDIA QUERY */

@media screen and (max-width: 992px){ 
    header{
        padding: 6px 0px !important;
    }
    header .row > .col-auto > img:first-child{
        display: none;
    }
    header .row > .col-auto > img:last-child{
        display: block;
    }
    header .row > .col-auto{
        padding-right: 0 !important ;
    }
    /* header .row > .col-auto.lh-1{
        padding-left: 0 !important ;
    } */
    header .row > .col.flex-grow-1{
        padding: 10px 
    }
    header .row > .col-auto.lh-1 ul > li:not(:last-child) { 
        display: none; 
    }
    header .row > .col-auto.lh-1 ul > li:last-child { 
        padding-top:12px;
        padding-right:10px;
    }
    header .row > .col-auto.lh-1 ul > li:last-child a { 
        padding-left: 5px;
    }
    aside a>span:last-child{
        display: none;
    }
    #main-row >:last-child {
        padding-left:58px;
    }
    section.header-main > .row > *{
        max-width: calc(100% / 3);
    }
    section.header-main > .row > .col-2{
        min-width: calc(100% / 3);
    }
    section.header-main > .row > .col-6 > span.apps{
        display: none;
    }
    section.header-main > .row > .col-6 > span.plus{
        display: inline-block !important;
    }

    section.main-content{
        padding-right:0
    }
    #left-row{
        width: 100%;
        
        /* background-color: lightcoral; */
    }
    #right-row{
        width: 100%;
        /* background-color: lightgreen; */
    }
    section.main-content{
        flex-wrap: wrap;
    }
    #right-row> .col:first-child{
        margin-top: 25px;
    }
}


