header .row{
    height: 40px;
}
header .row>* {
    background-color: white;
    border: 1px solid black;
}
#main-row{
    height: calc(100vh - 72px);
}
aside a{
    text-decoration: none;
    color: white;
}
#main-row >:first-child {
   width: 120px;
   max-height: calc(100vh - 72px);
}
main .row>* {
    background-color: goldenrod;
    border: 1px solid black;
}
#left-row{
    width: 65%;
    /* background-color: lightcoral; */
}
#right-row{
    width: 35%;
    /* background-color: lightgreen; */
}
main.col-11{
    width: calc(100% - 120px);
    overflow: auto;
    margin-left: 120px
}








/* MEDIA QUERY */

@media screen and (max-width: 992px){ 
    section.main-content{
        padding-right:0
    }
    #left-row{
        width: 100%;
        
        /* background-color: lightcoral; */
    }
    #right-row{
        width: 100%;
        /* background-color: lightgreen; */
    }
    section.main-content{
        flex-wrap: wrap;
    }
    #right-row> .col:first-child{
        margin-top: 25px;
    }
}
